<div class="profile-tab-content">
    <h1>Medical Appointment Date
      <svg xmlns="http://www.w3.org/2000/svg" width="25.699" height="25.699" viewBox="0 0 25.699 25.699">
        <path id="Path_2783" data-name="Path 2783"
              d="M14.134,19.274h-2.57v-7.71h2.57ZM12.849,0A12.849,12.849,0,1,1,0,12.849,12.887,12.887,0,0,1,12.849,0Zm0,23.129A10.279,10.279,0,1,0,2.57,12.849,10.31,10.31,0,0,0,12.849,23.129ZM14.134,8.995h-2.57V6.425h2.57Z"
              fill="#bbc8ce"/>
      </svg>
    </h1>
    <div class="row pt-5">
      <div class="col-7">
        <mat-card class="bg-color-light-gray-imp no-border-radius no-boxshadow">
          <mat-card-content>
            <h1 class="text-color-coral font-24 font-weight-bold">Hospital Info:</h1>
            <p class="text-color-onyx font-16">Majestic Millenmium Center</p>
            <p class="text-color-onyx font-16"><i class="fa fa-phone-alt fa-flip-horizontal text-color-coral"></i><span class="mx-2">123456789</span></p>
            <a class="text-color-coral-imp font-16"><i class="fa fa-location-arrow text-color-coral"></i><span class="mx-2">Click for Hospital
              Location</span></a>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
  