<div class="d-flex flex-column h-100">
  <div class="d-flex border-bottom my-3 pb-3">
    <span (click)="closeSidenav()" class="align-self-center mx-3 cursor-pointer">
      <svg height="16.499" viewBox="0 0 16.5 16.499" width="16.5" xmlns="http://www.w3.org/2000/svg">
        <g data-name="close (1)" id="close_1_" transform="translate(0 -0.522)">
          <path
            d="M9.709,8.272,16.2,1.784A1.032,1.032,0,0,0,14.739.325L8.25,6.813,1.761.325A1.032,1.032,0,1,0,.3,1.784L6.791,8.272.3,14.761a1.032,1.032,0,1,0,1.459,1.459L8.25,9.731l6.488,6.488A1.032,1.032,0,0,0,16.2,14.76Z"
            data-name="Path 2632" id="Path_2632" transform="translate(0 0.5)"></path>
        </g>
      </svg>
    </span>
    <h2 class="mb-0 font-18 font-weight-500">Add Education</h2>
  </div>
  <div class="row h-100 mx-0 mt-3 overflow-auto">
    <div class="col-12">
      <mat-form-field class="w-100 font-16-imp mb-5">
        <mat-label>Education level</mat-label>
        <span matSuffix>
          <svg xmlns="http://www.w3.org/2000/svg" width="12.387" height="7.045" viewBox="0 0 12.387 7.045">
            <path d="M8.217,10.722l5.133,5.234,5.133-5.234" transform="translate(-7.156 -9.662)" fill="none"
                  stroke="#1d252d" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"/>
          </svg>
        </span>
        <mat-select>
          <mat-option value="Bachelor">Bachelor's degree</mat-option>
          <mat-option value="Non-Bachelor">Non-Bachelor</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-12">
      <mat-form-field class="w-100 font-16-imp mb-5">
        <mat-label>University of institution</mat-label>
        <span matSuffix>
          <svg xmlns="http://www.w3.org/2000/svg" width="12.387" height="7.045" viewBox="0 0 12.387 7.045">
            <path d="M8.217,10.722l5.133,5.234,5.133-5.234" transform="translate(-7.156 -9.662)" fill="none"
                  stroke="#1d252d" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"/>
          </svg>
        </span>
        <mat-select>
          <mat-option value="imam"> test test  test test </mat-option>
          <mat-option value="Non-imam"> test test  test test </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-12">
      <mat-form-field class="w-100 font-16-imp mb-5">
        <mat-label>Choose Country</mat-label>
        <span matSuffix>
          <svg xmlns="http://www.w3.org/2000/svg" width="12.387" height="7.045" viewBox="0 0 12.387 7.045">
            <path d="M8.217,10.722l5.133,5.234,5.133-5.234" transform="translate(-7.156 -9.662)" fill="none"
                  stroke="#1d252d" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"/>
          </svg>
        </span>
        <mat-select>
          <mat-option value="tt"> test test  test test </mat-option>
          <mat-option value="tt"> test test  test test </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-12">
    
    </div>
    <div class="col-12">
      <mat-form-field class="w-100 font-16-imp mb-5">
        <mat-label>Major</mat-label>
        <span matSuffix>
          <svg xmlns="http://www.w3.org/2000/svg" width="12.387" height="7.045" viewBox="0 0 12.387 7.045">
            <path d="M8.217,10.722l5.133,5.234,5.133-5.234" transform="translate(-7.156 -9.662)" fill="none"
                  stroke="#1d252d" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"/>
          </svg>
        </span>
        <mat-select>
          <mat-option value="Computer">Computer Engineering</mat-option>
          <mat-option value="Non-Computer">Non-Computer Engineering</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-12">
      <mat-form-field class="w-100 font-16-imp mb-5">
        <mat-label>Sub Major</mat-label>
        <span matSuffix>
          <svg xmlns="http://www.w3.org/2000/svg" width="12.387" height="7.045" viewBox="0 0 12.387 7.045">
            <path d="M8.217,10.722l5.133,5.234,5.133-5.234" transform="translate(-7.156 -9.662)" fill="none"
                  stroke="#1d252d" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"/>
          </svg>
        </span>
        <mat-select>
          <mat-option value="Information">Information System</mat-option>
          <mat-option value="Non-Information">Non-Information System</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-12">
      <mat-form-field class="w-100 font-16-imp mb-5">
        <mat-label>GPA (optional)</mat-label>
        <span matSuffix>
          <svg xmlns="http://www.w3.org/2000/svg" width="12.387" height="7.045" viewBox="0 0 12.387 7.045">
            <path d="M8.217,10.722l5.133,5.234,5.133-5.234" transform="translate(-7.156 -9.662)" fill="none"
                  stroke="#1d252d" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"/>
          </svg>
        </span>
        <mat-select>
          <mat-option value="4">4 out of 5 (Very Good)</mat-option>
          <mat-option value="Non-4">Non-4</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-12">
      <mat-form-field class="w-100 font-16-imp mb-5">
        <mat-label>Graduate Year</mat-label>
        <span matSuffix>
          <svg xmlns="http://www.w3.org/2000/svg" width="12.387" height="7.045" viewBox="0 0 12.387 7.045">
            <path d="M8.217,10.722l5.133,5.234,5.133-5.234" transform="translate(-7.156 -9.662)" fill="none"
                  stroke="#1d252d" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"/>
          </svg>
        </span>
        <mat-select>
          <mat-option value="2008">2008</mat-option>
          <mat-option value="2008">2009</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    
  </div>
  <div>
    <button class="button-primary font-weight-500 w-100 p-3 text-uppercase">ADD</button>
  </div>
</div>

