<div class="profile-tab-content">
    <h1>Experience Details
      <svg xmlns="http://www.w3.org/2000/svg" width="25.699" height="25.699" viewBox="0 0 25.699 25.699">
        <path id="Path_2783" data-name="Path 2783"
              d="M14.134,19.274h-2.57v-7.71h2.57ZM12.849,0A12.849,12.849,0,1,1,0,12.849,12.887,12.887,0,0,1,12.849,0Zm0,23.129A10.279,10.279,0,1,0,2.57,12.849,10.31,10.31,0,0,0,12.849,23.129ZM14.134,8.995h-2.57V6.425h2.57Z"
              fill="#bbc8ce"/>
      </svg>
    </h1>
    <div class="row mt-5">
      <div class="col-9">
        <div class="card-container mb-4">
          <span class="side-border"></span>
          <mat-card class="bg-color-light-gray-imp no-border-radius no-boxshadow flex-grow-1">
            <mat-card-content>
              <h1 class="text-color-primary-purple font-17 font-weight-500">UX Designer at GIS</h1>
              <p class="text-color-onyx font-16 font-weight-500">Sep 2018 - Now</p>
              <span class="divider"></span>
              <div class="d-flex align-items-center justify-content-between">
                <p class="text-color-onyx font-12 font-weight-500">IT & Information Technology</p>
                <p class="text-color-onyx font-12 font-weight-500"> test test </p>
              </div>
              <div class="d-flex align-items-center justify-content-between">
                <p class="text-color-onyx font-12 font-weight-500">Salary (12000 SAR)</p>
                <p class="text-color-onyx font-12 font-weight-500">Company size 1 - 50</p>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="card-container mb-4">
          <span class="side-border"></span>
          <mat-card class="bg-color-light-gray-imp no-border-radius no-boxshadow flex-grow-1">
            <mat-card-content>
              <h1 class="text-color-primary-purple font-17 font-weight-500"> test test  test test </h1>
              <p class="text-color-onyx font-16 font-weight-500">Oct 2016 - May 2018</p>
              <span class="divider"></span>
              <div class="d-flex align-items-center justify-content-between">
                <p class="text-color-onyx font-12 font-weight-500">IT & Information Technology</p>
                <p class="text-color-onyx font-12 font-weight-500"> test test  test test a</p>
              </div>
              <div class="d-flex align-items-center justify-content-between">
                <p class="text-color-onyx font-12 font-weight-500">Salary (12000 SAR)</p>
                <p class="text-color-onyx font-12 font-weight-500">Company size 20 - 100</p>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
      <div class="d-flex col-12 my-3">
        <button class="btn button-primary font-16 font-weight-bold px-3 py-2" (click)="openSideNav()"><i
          class="fa fa-plus"></i><span
          class="mx-2">ADD NEW</span></button>
      </div>
    </div>
  
  </div>
  