<!-- Start Footer -->
<div class="footer p-0">
  <div class="inner-footer py-4 top">
    <div class="d-flex justify-content-between align-items-center">
      <div class="justify-content-md-end d-md-flex d-none">
        <a href="">
          <img class="footer-logo" src="" alt="logo">
        </a>
      </div>
      <div class="d-flex flex-column">
        <div class="follow text-capitalize">Follow us</div>
        <div class="social-icons d-flex justify-content-md-end">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-linkedin-in"></i></a>
          <a href="#"><i class="fab fa-youtube"></i></a>
          <a href="#"><i class="fab fa-google-plus-g"></i></a>
        </div>
      </div>
    </div>
  </div>
  <div class="inner-footer py-3 footer-info">
    <div class="d-flex justify-content-between align-items-center">
      <div class="copyrights p-0 d-md-block d-none">
        Copyright  2019
      </div>
      <div>
        <ul class="footer-ul m-0">
          <li><a href="#"> Support </a></li>
          <li><a href="#"> Privacy </a></li>
          <li><a href="#"> Terms & Conditions </a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- End Footer -->
